<title>Welcome!</title>
<body> Although the game has a lot of complexity to it, the rules to play it are pretty simple.
The game is played where players enter rock, paper or scissors into the url (eg '/play/rock/scissors') that will represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules:
<ul>
  <li>Rock wins against scissors</li>
  <li>Scissors win against paper</li>
  <li>Paper wins against rock</li>
</ul>

</body>
